.card {
  display: flex;
  width: 20%;
  align-items: flex-start;
  justify-content: flex-end;
  flex-flow: column wrap;
  position: relative;
  /* border: 1px solid; */
  box-shadow: 0 0 2px 2px rgba(0, 255, 255, 0.5);
}

.card .card-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
